@model ShoppingCartVM
<form method="post">
	<br />
	<div class="container">
		<div class="card shadow border-0">
			<div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2 text-white">
							Підсумок Замовлення
						</h5>
					</div>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-outline-danger btn-sm">Назад до Кошику</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Подробиці Відправки:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Ім'я<span class="text-danger">*</span></label>
								</div>
								<div class="col-9">
									<input required asp-for="OrderHeader.Name" class="form-control" />
									<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Номер Телефону<span class="text-danger">*</span></label>
								</div>
								<div class="col-9">
									<input required asp-for="OrderHeader.PhoneNumber" class="form-control" />
									<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Місто</label>
								</div>
								<div class="col-9">
									<div class="form-group">
										<select class="form-control" id="city" name="city">
											<option value="">-- Виберіть Місто --</option>
											@foreach (var city in Model.Cities)
											{
												<option value="@city">@city</option>
											}
										</select>
									</div>
									<input hidden asp-for="OrderHeader.City" id="selectedCity" class="form-control" />
									<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Відділення Нової Пошти</label>
								</div>
								<div class="col-9">
									<input hidden asp-for="OrderHeader.Warehouse" id="selectedWarehouse" class="form-control" />
									<span asp-validation-for="OrderHeader.Warehouse" class="text-danger"></span>
									<div class="form-group" id="warehouseDropdown" style="display:none;">
										<select class="form-control" id="warehouse" name="warehouse">
											<option value="">-- Виберіть Відделення --</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Всього:</span>
							</h4>
							<ul class="list-group mb-3">
								@foreach (var details in Model.ShoppingCartList)
								{
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@details.Product.Title</h6>
											<small class="text-muted">Кількість: @details.Count</small>
										</div>
										<span class="text-muted">@((details.Price * details.Count).ToString("c")) </span>
									</li>
								}
								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Всього (ГРН)</small>
									<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							Орієнтовна дата прибуття: @DateTime.Now.AddDays(2).ToShortDateString() - @DateTime.Now.AddDays(3).ToShortDateString()
						</p>
					</div>

					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Зробити Замовлення</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$('#city').change(function () {
			var selectedCity = $(this).val();
			$('#selectedCity').val(selectedCity);
			var cityName = $(this).val();
			if (cityName !== "") {
				$.ajax({
					url: '@Url.Action("GetWarehousesByCityName", "Cart")',
					type: 'GET',
					data: { cityName: cityName },
					success: function (response) {
						var warehousesDropdown = $('#warehouse');
						warehousesDropdown.empty();
						warehousesDropdown.append($('<option>').text('-- Select Warehouse --').val(''));
						$.each(response, function (index, warehouse) {
							warehousesDropdown.append($('<option>').text(warehouse).val(warehouse));
						});
						$('#warehouseDropdown').show();
					},
				});
			} else {
				$('#warehouseDropdown').hide();
			}
		});
		$('#warehouse').change(function () {
			var selectedWarehouse = $(this).val();
			$('#selectedWarehouse').val(selectedWarehouse);
		});
	});
</script>